.footer{
    background-color: $primary;
    .container{
        .footer_group{
            @media(max-width:375px){
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    margin-bottom: 16px;
            }
            border-bottom: 1px solid #FFF;
            .footer_navs{
                .footer_nav{
                    align-items: center;
                    .footer_nav_a{
                        @media(max-width:768px){
                            margin-right: 40px;
                        }
                        a {
                            color: white;
                            text-decoration:none;
                            padding: 8px;
                        &:hover{
                            color: yellow;
                            border-bottom: 1px solid yellow;
                        }
                    }
                    }
                @media(max-width:375px){
                    display: none;
                }
                }
                .footer_navs_icons{
                    .footer_navs_icon{
                        a {
                            img {
                                width: 48px;
                                height: 48px;
                                @media(max-width:768px){
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                    @media(max-width:768px){
                        .mr_4{
                            margin-right: 24px;
                        }
                        .ml_4{
                            margin-left: 24px;
                        }
                    }
                }
            }
            .footer_shop_contents{
                .footer_shop_content{
                    font-size: 36px;
                    line-height: 54px;
                    @media(max-width:375px){
                        font-size: 16px;
                        line-height: 30px;
                    }
                    .tel_size{
                        width: 36px;
                        height: 36px;
                        @media(max-width:768px){
                            width: 24px;
                            height: 24px;
                        }
                        @media(max-width:375px){
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .mail_size{
                        width: 40px;
                        height: 32px;
                        @media(max-width:768px){
                            width: 24px;
                            height: 24px;
                        }
                        @media(max-width:375px){
                            width: 15px;
                            height: 15px;
                        }
                    }
                    a {
                        color: white;
                        text-decoration:none;
                        font-family:'Noto Sans CJK' 'Roboto';
                        &:hover{
                            color: yellow;
                            border-bottom: 1px solid yellow;
                        }
                        @media(max-width:768px){
                            margin-left: 8px;
                        }
                    }
                }
                .pb_2{
                    @media(max-width:375px){
                        padding-bottom: 0;
                    }
                }
            }
        
        }
        .footer_ccs{
            @media(max-width:375px){
                padding-bottom: 24px;
                flex-direction: column;
            }
            .footer_cc{
                color: white;
            }
            .footer_cc_privace{
                @media(max-width:375px){
                    flex-direction: column;
                }
                a {
                    color: white;
                    text-decoration:none;
                    &:hover{
                        color: yellow;
                        border-bottom: 1px solid yellow;
                    }
                    @media(max-width:375px){
                        margin-left: 0;
                        margin-top: 8px;

                    }
                }
            }
        }

    }
}