/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  line-height: 24px; }

h2 {
  font-size: 72px;
  line-height: 108px; }
  @media (max-width: 1200px) {
    h2 {
      font-size: 32px;
      line-height: 25px; } }

h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bolder;
  text-align: center;
  color: #650300; }
  @media (max-width: 1200px) {
    h3 {
      font-size: 32px;
      line-height: 48px; } }
  @media (max-width: 375px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
  color: #650300; }
  @media (max-width: 1200px) {
    h4 {
      font-size: 24px;
      line-height: 36px; } }

.d_f_jc_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.d_f_jc_fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.d_f_jc_sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.d_f_jc_sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.d_f_jc_se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.container {
  width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1240px) {
    .container {
      width: 1024px; } }
  @media (max-width: 992px) {
    .container {
      width: 768px; } }
  @media (max-width: 768px) {
    .container {
      width: 690px; } }
  @media (max-width: 375px) {
    .container {
      width: 344.5px; } }

.fz20lh30 {
  font-size: 20px;
  line-height: 30px; }

.mlr_2 {
  margin: 0 16px; }

.mr_1 {
  margin-right: 8px; }

.mr_2 {
  margin-right: 16px; }

.mr_4 {
  margin-right: 32px; }

.mr_6 {
  margin-right: 48px; }

.ml_1 {
  margin-left: 8px; }

.ml_2 {
  margin-left: 16px; }

.ml_3 {
  margin-left: 24px; }

.ml_4 {
  margin-left: 32px; }

.ml_6 {
  margin-left: 48px; }

.mb-1 {
  margin-bottom: 8px; }

.mb_2 {
  margin-bottom: 16px; }

.mb_3 {
  margin-bottom: 24px; }

.mb_4 {
  margin-bottom: 32px; }

.mb_5 {
  margin-bottom: 40px; }

.mb_6 {
  margin-bottom: 48px; }

.mb_10 {
  margin-bottom: 80px; }

.mt_2 {
  margin-top: 16px; }

.mt_7 {
  margin-top: 56px; }

.mt_8 {
  margin-top: 64px; }

.pb_2 {
  padding-bottom: 16px; }

.pb_5 {
  padding-bottom: 40px; }

.pb_10 {
  padding-bottom: 80px; }

.pt_1 {
  padding-top: 8px; }

.pt_4 {
  padding-top: 32px; }

.pt_7 {
  padding-top: 56px; }

.nav_group {
  background-color: #AA0601;
  padding: 24px 88px; }
  @media (max-width: 375px) {
    .nav_group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 768px) {
    .nav_group {
      padding: 30px 39px; } }
  @media (max-width: 375px) {
    .nav_group {
      padding: 10px 0 0 0; } }
  .nav_group a .nav_group img {
    width: 80px;
    height: 48.57px; }
    @media (max-width: 375px) {
      .nav_group a .nav_group img {
        width: 48px;
        height: 29.11px; } }
  @media (max-width: 375px) {
    .nav_group .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 375px;
      margin-top: 8px; } }
  .nav_group .nav a {
    color: white;
    text-decoration: none;
    margin-left: 44px;
    padding: 10px; }
    .nav_group .nav a:hover {
      color: yellow;
      border-bottom: 1px solid yellow; }
      @media (max-width: 768px) {
        .nav_group .nav a:hover {
          display: none; } }
    @media (max-width: 768px) {
      .nav_group .nav a {
        margin-left: 40px; } }
    @media (max-width: 375px) {
      .nav_group .nav a {
        text-align: center;
        width: 162.5px;
        margin-left: 0px;
        padding: 8px 11.5px;
        border: solid 1px white; } }

.footer {
  background-color: #AA0601; }
  .footer .container .footer_group {
    border-bottom: 1px solid #FFF; }
    @media (max-width: 375px) {
      .footer .container .footer_group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 16px; } }
    .footer .container .footer_group .footer_navs .footer_nav {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 768px) {
        .footer .container .footer_group .footer_navs .footer_nav .footer_nav_a {
          margin-right: 40px; } }
      .footer .container .footer_group .footer_navs .footer_nav .footer_nav_a a {
        color: white;
        text-decoration: none;
        padding: 8px; }
        .footer .container .footer_group .footer_navs .footer_nav .footer_nav_a a:hover {
          color: yellow;
          border-bottom: 1px solid yellow; }
      @media (max-width: 375px) {
        .footer .container .footer_group .footer_navs .footer_nav {
          display: none; } }
    .footer .container .footer_group .footer_navs .footer_navs_icons .footer_navs_icon a img {
      width: 48px;
      height: 48px; }
      @media (max-width: 768px) {
        .footer .container .footer_group .footer_navs .footer_navs_icons .footer_navs_icon a img {
          width: 24px;
          height: 24px; } }
    @media (max-width: 768px) {
      .footer .container .footer_group .footer_navs .footer_navs_icons .mr_4 {
        margin-right: 24px; }
      .footer .container .footer_group .footer_navs .footer_navs_icons .ml_4 {
        margin-left: 24px; } }
    .footer .container .footer_group .footer_shop_contents .footer_shop_content {
      font-size: 36px;
      line-height: 54px; }
      @media (max-width: 375px) {
        .footer .container .footer_group .footer_shop_contents .footer_shop_content {
          font-size: 16px;
          line-height: 30px; } }
      .footer .container .footer_group .footer_shop_contents .footer_shop_content .tel_size {
        width: 36px;
        height: 36px; }
        @media (max-width: 768px) {
          .footer .container .footer_group .footer_shop_contents .footer_shop_content .tel_size {
            width: 24px;
            height: 24px; } }
        @media (max-width: 375px) {
          .footer .container .footer_group .footer_shop_contents .footer_shop_content .tel_size {
            width: 15px;
            height: 15px; } }
      .footer .container .footer_group .footer_shop_contents .footer_shop_content .mail_size {
        width: 40px;
        height: 32px; }
        @media (max-width: 768px) {
          .footer .container .footer_group .footer_shop_contents .footer_shop_content .mail_size {
            width: 24px;
            height: 24px; } }
        @media (max-width: 375px) {
          .footer .container .footer_group .footer_shop_contents .footer_shop_content .mail_size {
            width: 15px;
            height: 15px; } }
      .footer .container .footer_group .footer_shop_contents .footer_shop_content a {
        color: white;
        text-decoration: none;
        font-family: 'Noto Sans CJK' 'Roboto'; }
        .footer .container .footer_group .footer_shop_contents .footer_shop_content a:hover {
          color: yellow;
          border-bottom: 1px solid yellow; }
        @media (max-width: 768px) {
          .footer .container .footer_group .footer_shop_contents .footer_shop_content a {
            margin-left: 8px; } }
    @media (max-width: 375px) {
      .footer .container .footer_group .footer_shop_contents .pb_2 {
        padding-bottom: 0; } }
  @media (max-width: 375px) {
    .footer .container .footer_ccs {
      padding-bottom: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer .container .footer_ccs .footer_cc {
    color: white; }
  @media (max-width: 375px) {
    .footer .container .footer_ccs .footer_cc_privace {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer .container .footer_ccs .footer_cc_privace a {
    color: white;
    text-decoration: none; }
    .footer .container .footer_ccs .footer_cc_privace a:hover {
      color: yellow;
      border-bottom: 1px solid yellow; }
    @media (max-width: 375px) {
      .footer .container .footer_ccs .footer_cc_privace a {
        margin-left: 0;
        margin-top: 8px; } }

.banner {
  width: 100%;
  height: 840px;
  background-image: url("../images/banner.png"); }
  .banner .container .banner_texts .banner_text {
    text-align: end;
    color: #650300;
    padding-top: 400px; }
    .banner .container .banner_texts .banner_text .banner_text_small {
      font-size: 36px;
      line-height: 54px; }
      @media (max-width: 768px) {
        .banner .container .banner_texts .banner_text .banner_text_small {
          font-size: 20px;
          line-height: 30px; } }
      @media (max-width: 768px) {
        .banner .container .banner_texts .banner_text .banner_text_small {
          font-size: 16px;
          line-height: 30px; } }
    .banner .container .banner_texts .banner_text .banner_text_big {
      font-weight: bolder;
      font-size: 64px;
      line-height: 96px; }
      @media (max-width: 768px) {
        .banner .container .banner_texts .banner_text .banner_text_big {
          font-size: 48px;
          line-height: 72px; } }
      @media (max-width: 375px) {
        .banner .container .banner_texts .banner_text .banner_text_big {
          font-size: 32px;
          line-height: 72px; } }

@media (max-width: 768px) {
  .profession {
    margin-top: 40px;
    margin-bottom: 56px; } }

@media (max-width: 768px) {
  .profession h3 {
    margin-bottom: 0; } }

@media (max-width: 768px) {
  .profession .profession_cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px; } }

@media (max-width: 375px) {
  .profession .profession_cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.profession .profession_cards .profession_card {
  width: 255px;
  text-align: center; }
  .profession .profession_cards .profession_card img {
    max-width: 100%;
    height: 83.33px; }
  @media (max-width: 768px) {
    .profession .profession_cards .profession_card {
      margin-bottom: 40px; } }

@media (max-width: 768px) {
  .basic {
    margin-top: 40px;
    margin-bottom: 56px; } }

@media (max-width: 375px) {
  .basic {
    margin-top: 32px;
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .basic h3 {
    margin-bottom: 32px; } }

@media (max-width: 768px) {
  .basic .basic_products .basic_product_card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 8px; } }

@media (max-width: 375px) {
  .basic .basic_products .basic_product_card {
    position: relative; } }

.basic .basic_products .basic_product_card .product_img {
  max-width: 100%; }
  @media (max-width: 768px) {
    .basic .basic_products .basic_product_card .product_img {
      max-width: 390px; } }
  @media (max-width: 375px) {
    .basic .basic_products .basic_product_card .product_img {
      margin: 0 0;
      max-width: 345px; } }

.basic .basic_products .basic_product_card .basic_product_card_texts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .basic .basic_products .basic_product_card .basic_product_card_texts h3 {
    color: #AA0601; }
    @media (max-width: 375px) {
      .basic .basic_products .basic_product_card .basic_product_card_texts h3 {
        font-size: 28px;
        line-height: 72px; } }
  @media (max-width: 375px) {
    .basic .basic_products .basic_product_card .basic_product_card_texts {
      position: absolute;
      left: 25%;
      top: 20%; } }

.brand {
  background-image: url("../images/bg.png"); }
  @media (max-width: 768px) {
    .brand .container {
      padding-top: 40px;
      padding-bottom: 56px; } }
  .brand .container h3 {
    color: white;
    text-align: center; }
    @media (max-width: 768px) {
      .brand .container h3 {
        margin-bottom: 32px; } }
  @media (max-width: 375px) {
    .brand .container .brand_cards {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .brand .container .brand_cards .brand_card {
    position: relative; }
    .brand .container .brand_cards .brand_card img {
      width: 540px;
      height: 445px; }
      @media (max-width: 1240px) {
        .brand .container .brand_cards .brand_card img {
          width: 485px;
          height: 375px; } }
      @media (max-width: 992px) {
        .brand .container .brand_cards .brand_card img {
          width: 435px;
          height: 295px; } }
      @media (max-width: 768px) {
        .brand .container .brand_cards .brand_card img {
          width: 330px;
          height: 278px; } }
      @media (max-width: 375px) {
        .brand .container .brand_cards .brand_card img {
          width: 345px;
          height: 291px; } }
    .brand .container .brand_cards .brand_card .mask {
      width: 540px;
      height: 445px;
      background-color: #fff;
      opacity: 0.5;
      position: absolute;
      top: 0; }
      @media (max-width: 1240px) {
        .brand .container .brand_cards .brand_card .mask {
          width: 485px;
          height: 375px; } }
      @media (max-width: 992px) {
        .brand .container .brand_cards .brand_card .mask {
          width: 435px;
          height: 295px; } }
      @media (max-width: 768px) {
        .brand .container .brand_cards .brand_card .mask {
          width: 330px;
          height: 278px; } }
      @media (max-width: 375px) {
        .brand .container .brand_cards .brand_card .mask {
          width: 345px;
          height: 291px; } }
    .brand .container .brand_cards .brand_card h2 {
      color: #AA0601;
      position: absolute;
      top: 40%;
      left: 25%;
      font-weight: bolder; }
      @media (max-width: 768px) {
        .brand .container .brand_cards .brand_card h2 {
          top: 43%;
          left: 31%; } }
    @media (max-width: 375px) {
      .brand .container .brand_cards .brand_card {
        margin-left: 0; } }

@media (max-width: 768px) {
  .feedback {
    margin-top: 40px;
    margin-bottom: 56px; } }

@media (max-width: 375px) {
  .feedback {
    margin-top: 32px;
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .feedback h3 {
    margin-bottom: 32px; } }

@media (max-width: 768px) {
  .feedback .feedback_cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.feedback .feedback_cards .feedback_card {
  width: 255px;
  height: 460px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 9px #d3d1d1;
          box-shadow: 1px 1px 9px #d3d1d1; }
  .feedback .feedback_cards .feedback_card img {
    width: 100%;
    height: 256px; }
  @media (max-width: 768px) {
    .feedback .feedback_cards .feedback_card {
      margin-right: 0;
      margin-left: 0;
      width: 330px;
      margin-bottom: 32px; } }
  @media (max-width: 375px) {
    .feedback .feedback_cards .feedback_card {
      width: 345px; } }

@media (max-width: 768px) {
  .contact_us {
    padding-top: 40px;
    padding-bottom: 56px; } }

.contact_us h3 {
  color: #000; }
  @media (max-width: 768px) {
    .contact_us h3 {
      margin-bottom: 24px; } }

.contact_us .forms {
  width: 730px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .contact_us .forms {
      width: 450px; } }
  @media (max-width: 375px) {
    .contact_us .forms {
      width: 345px; } }
  .contact_us .forms .form .input_w100 {
    width: 100%;
    height: 50px; }
  .contact_us .forms .form textarea {
    resize: none;
    width: 100%; }
  .contact_us .forms .form .form_btn {
    width: 350px;
    height: 45px;
    background-color: #AA0601;
    margin: 0 auto;
    text-align: center; }
    .contact_us .forms .form .form_btn a {
      display: block;
      color: white;
      text-decoration: none; }
      .contact_us .forms .form .form_btn a:hover {
        color: blue; }
    @media (max-width: 375px) {
      .contact_us .forms .form .form_btn {
        width: 210px;
        height: 40px; } }
    @media (max-width: 375px) {
      .contact_us .forms .form .form_btn {
        width: 165px;
        height: 36px; } }

/*# sourceMappingURL=all.css.map */
